.options {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.btn {
  border: none;
  border-radius: 3px;

  cursor: pointer;
  background: #4801ec;
  color: #ffffff;
  width: 150px;
  padding: 10px;

  font-size: 16px;
}

.btn:hover {
  background: #3901bb;
}
